/* --- General --- */

html, body {
    margin: 0;
    padding: 0;
    background-color: #20262e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* --- Header --- */

.header {
    padding: 20px;
    background-color: #161b21;
    height: 60px;
}

.header h2 {
    align-self: center;
    color: #fff;
    margin: 0 0 0 40px;
    font-weight: 600;
    float: left;
    font-size: 15px;
    line-height: 24px;
}

.link {
    text-align: right;
    line-height: 24px;
    text-decoration: none;
    align-self: center;
    font-size: 14px;
    color: #fff;
}

.subtitle {
    background-color: #111015;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.github {
    display: inline-block;
    width: 24px;
    height: 24px;
    float: right;
    margin-left: 8px;
    background: transparent url('images/github.svg') no-repeat center;
    background-size: 20px 20px;
    text-indent: -10000px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
}

/* --- Main content --- */

.program {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 64px;
    bottom: 0;
}

.program .editor {
    flex: 1;
    width: 50%;
    padding-bottom: 64px;
    position: relative;
    border-right: 1px solid #2d333b;
}

.label {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: 16px 26px 0;
    color: #757a84;
}

.program .console {
    min-width: 200px;
    width: 50%;
    overflow-y: auto;
}

.program .console .text {
    color: #fff;
    padding: 16px 26px;
    margin: 0;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 20px;
    white-space: pre-wrap;
}

.options {
    position: absolute;
    right: 128px;
    bottom: 12px;
    height: 37px;
    width: 37px;
    z-index: 1000;
    background: transparent url('images/options.svg') no-repeat center;
    background-size: 20px 20px;
    text-indent: -1000px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s ease;
}

.options:hover {
    opacity: 1;
}

.run {
    position: absolute;
    right: 20px;
    bottom: 12px;
    background-color: #df3248;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff !important;
    width: 120px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
    z-index: 1000;
}

.run.loading {
    opacity: 0.5;
    pointer-events: none;
}

.run:hover {
    background: #fff;
    color: #b12b3d !important;
}

.program .console h4 {
    margin: 20px -26px 0;
    padding: 16px 26px;
    border-top: 1px solid #2d333b;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #757a84;
}

.program .console h4:first-child {
    margin-top: -16px;
    border-top: 0;
}

.program .console h4.completed {
    margin-bottom: -16px;
}

.program .console h4 + h4 {
    margin-top: 0;
}

.program .console h4.storage-contents:after {
    content: '\2193';
    float: right;
}

.program .console h4.storage-contents {
    cursor: pointer;
    margin-bottom: -20px;
}

.program .console .type-storage {
    display: none;
}

.program .console.show-storage .type-storage {
    display: block;
}

.program .console.show-storage h4.storage-contents {
    margin-bottom: 0;
}

.program .console.show-storage h4.storage-contents:after {
    content: '\2191';
}


/* ---- Editor font size elements ---- */

.editorOptionsButtons {
    float: left;
    margin-top: 2px;
    margin-left: 10px;
}

.editorFontSize {
    color: #df3248;
}

.decreaseEditorFontSize:hover {
    color: #b12b3d;
}

.increaseEditorFontSize:hover {
    color: #b12b3d;
}

.decreaseEditorFontSize:active {
    color: #fa3650;
}

.increaseEditorFontSize:active {
    color: #fa3650;
}


/* ---- Draggable horizontal line ---- */

#draggable {
    width: 1%;
    cursor: col-resize;
    background: transparent;
}

/* ---- Sidebar ---- */

.drawer-toggle {
    color: #df3248;
    margin-top: 1px;
}

.drawer-toggle:focus {
    outline: 0;
    outline: none;
}

.drawer-hamburger {
    padding: 14px .75rem 20px !important;
}

.drawer-hamburger .fa {
    font-size: 1.5em !important;
}

.drawer-nav {
    background-color: #000 !important;
}

.drawer-brand {
    color: #df3248 !important;
    font-size: 20px;
}

.drawer-menu-item {
    color: #808080 !important;
    margin-left: 30px;
}

/* ---- Tree ---- */

.node-tree {
    background-color: transparent;
    color: #fff;
}

.node-tree:hover {
    color: #df3248 !important;
    background-color: #38383880 !important;
}

.node-selected {
    color: #df3248 !important;
    background-color: #38383899 !important;
}

.treeview span.icon {
    margin-right: 6px !important;
}

/* ---- CodeMirror ---- */

.CodeMirror {
    background: #20262e !important;
    color: #fff !important;
    line-height: 1.3 !important;
    height: 100%;
    font-family: 'Source Code Pro', 'Courier New', Courier, monospace;
}

@media only screen and (min-width: 850px) {
    .CodeMirror-presentation {
        max-width: 850px;
        margin: 50px auto;
    }
}

.CodeMirror-gutters {
    width: 40px !important;
    border-right: 1px dotted #414651 !important;
}

.CodeMirror-gutter {
    width: 36px !important;
}

.CodeMirror-linenumber {
    color: #757a84 !important;
}

.CodeMirror-selected {
    background-color: #4d5560 !important;
}

.CodeMirror-scroll {
    _box-sizing: border-box !important;
    padding: 12px !important;
}

.cm-s-solarized .cm-error,
.cm-s-solarized .cm-invalidchar {
    color: #586e75;
    border-bottom: 1px dotted #dc322f;
}

.CodeMirror-gutters {
    opacity: 0;
}

/* --- Modals --- */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.7);
    z-index: 2000;
    display: none;
}

.modal.open {
    display: block;
}

.modal-inner {
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    width: 300px;
    height: 300px;
    padding: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.modal h3 {
    margin: -24px -24px 24px;
    font-weight: 500;
    padding: 24px;
    color: #232425;
    border-bottom: 1px solid #eee;
}

.modal .close {
    float: right;
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background: #888;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 14px;
    margin-top: 5px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.modal .close:hover {
    opacity: 1;
}

/* --- Forms --- */

fieldset {
    border: 0;
    padding: 0;
    margin-bottom: 24px;
    text-align: right;
}

fieldset label {
    float: left;
    font-size: 14px;
}

@media only screen and (max-device-width: 750px) {
    .program {
        flex-direction: column;
    }

    .program .editor {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #2d333b
    }

    .program .console {
        width: 100%
    }
}

@media only screen and (max-device-width: 400px) {
    .header .link span {
        display: none
    }
}
