node_modules
deploy.sh
deploy-script.sh
deploy-ips.txt

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### IntelliJ IDEA ###
.idea
*.iml
.DS_Store

/logs
/indices
