<!DOCTYPE html>
<html>

<head>
    <title>rchain.cloud</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/codemirror.css" />
    <link rel="stylesheet" href="/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap-treeview.min.css">
    <link rel="stylesheet" href="/main.css?v=0.3.1" />
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
    <!-- fontawesome.css -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <!-- drawer.css -->
    <link rel="stylesheet" href="/vendor/drawer.min.css">
    <link rel="stylesheet" href="/css/onoffswitch.css">


</head>

<body class="drawer drawer--left">

    <div class="header">
        <button id="drawerButton" type="button" class="drawer-toggle drawer-hamburger">
            <i class="fas fa-bars fa-2x"></i>
        </button>

        <h2 class="mainTitle">rchain.cloud</h2>

        <!--Editor Font Size Increment/Decrement Buttons-->
        <div class="editorOptionsButtons">
            <span class="editorFontSize">
                <i id="incEditorFontSizeBtn" class="increaseEditorFontSize red-icon fas fa-plus-square"></i>
                <i id="decEditorFontSizeBtn" class="decreaseEditorFontSize red-icon fas fa-minus-square"></i>
            </span>
        </div>

        <div class="link">
            <span>online rholang interpreter</span>
            <a class="github" target="_blank" href="https://github.com/th3build/rchain.cloud">
                Github repository
            </a>
        </div>

        <nav class="drawer-nav" role="navigation">
            <ul class="drawer-menu">
                <li>
                    <a class="drawer-brand">rchain.cloud</a>
                </li>
                
                <div id="fileMenuDiv" class="container">
                    <div class="row">
                        <div class="col">
                            <span class="far fa-file fa-1x red-icon"></span>
                        </div>
                    </div>
                </div>

                <div id="tree"></div>

                <div class="container drawer-settings">
                    <div class="row">
                        <div class="col" style:"color: white;">
                            <span class="drawer-settings-label">Keyboard shortcuts</span>
                        </div>
                        <div id="keyboard-shortcuts-sw-div" class="col">
                            <div class="onoffswitch">
                                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="keyboard-shortcuts-sw" checked>
                                <label class="onoffswitch-label" for="keyboard-shortcuts-sw">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </ul>
        </nav>

    </div>

    <div class="program main">

        <!--    Editor/code div  -->
        <div class="editor">
            <div id="editorLabelDiv" class="label">
                <span>YOUR CODE</span>
                <i id="editorSaveIcon" class="red-icon far fa-save fa-2x" style="opacity: 0.6; display: none;"></i>
            </div>
            <!--<a onclick="showOptions()" class="options">Options</a>-->
            <a id="runButton" onclick="run()" class="run">Run</a>
            <textarea title="Your code" id="mirror"><!--{{ content }}--></textarea>
        </div>
        <!--    Draggable horizontal line  -->
        <div id="draggable"></div>

        <!--    Console/output div  -->
        <div id="consoleDiv" class="console">
            <div class="label" id="consoleLabel">OUTPUT</div>
            <pre class="text" id="consoleText"></pre>
        </div>
    </div>

    <div class="modal" id="runOptions">
        <div class="modal-inner">
            <a class="close" onclick="hideOptions()">&times;</a>

            <h3>Options</h3>

            <fieldset>
                <label>RNode version</label>
                <select id="selectVersion" title="Select version" onchange="selectVersion(this)">
                    <option selected value="v0.4.1">v0.4.1</option>
                </select>
            </fieldset>
        </div>
    </div>

    <script>window.config = {{ config }}</script>
    <script>var exampleFiles = {{ exampleFiles }}</script>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/vendor/iscroll.js"></script>
    <!-- drawer.js -->
    <script src="/vendor/drawer.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/vendor/codemirror.js"></script>
    <script src="/vendor/bootstrap.min.js"></script>
    <script src="/vendor/bootstrap-treeview.min.js"></script>
    <script src="/vendor/rholang.js"></script>
    <script type="module" src="/editor.js?v=0.3.1"></script>
    <script type="module" src="/js/draggable.js"></script>
    <script type="module" src="/js/sidebar.js"></script>
    <script type="module" src="/js/local-storage.js"></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119318187-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-119318187-1');
    </script>

</body>

</html>