<!DOCTYPE html>
<html>
<head>
    <title>rchain.cloud</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/vendor/codemirror.css"/>
    <link rel="stylesheet" href="/main.css?v=0.3.1"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
</head>
<body>

<div class="header">
    <h2>rchain.cloud</h2>
    <div class="link">
        <span>online rholang interpreter</span>
        <a class="github" target="_blank" href="https://github.com/th3build/rchain.cloud">
            Github repository
        </a>
    </div>
</div>

<div class="program">
    <div class="editor">
        <div class="label">YOUR CODE</div>
        <!--<a onclick="showOptions()" class="options">Options</a>-->
        <a id="runButton" onclick="run()" class="run">Run</a>
        <textarea title="Your code" id="mirror">{{ content }}</textarea>
    </div>
    <div class="console">
        <div class="label" id="consoleLabel">OUTPUT</div>
        <pre class="text" id="consoleText"></pre>
    </div>
</div>

<div class="modal" id="runOptions">
    <div class="modal-inner">
        <a class="close" onclick="hideOptions()">&times;</a>

        <h3>Options</h3>

        <fieldset>
            <label>RNode version</label>
            <select id="selectVersion" title="Select version" onchange="selectVersion(this)">
                <option selected value="v0.4.1">v0.4.1</option>
            </select>
        </fieldset>
    </div>
</div>

<script>window.config = {{ config }}</script>
<script
    src="//code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
    crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/vendor/codemirror.js"></script>
<script src="/vendor/rholang.js"></script>
<script src="/editor.js?v=0.3.1"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119318187-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-119318187-1');
</script>

</body>
</html>
