.toolbar {
  /*backgroundColor: theme.palette.primary[700]*/
}

.toolbarContainer {
  display: inline-flex;
  width: 100%;
  text-align: left;
  margin-top: 0.5rem;
  user-select: none;
}

.toolbarLogo {
  position: relative;
  margin-left: 0.5rem;
  margin-right: 1rem;
  margin-top: -0.1rem;
  height: 30px;
}

.toolbarTitleContainer{
  display:inline-flex;
}

.toolbarTitle {
  position: relative;
  width: auto;
  height: auto;
  display: inline-block;
  margin-left: 1rem;
  margin-right: 2rem;
  
}


.toolbarTitle::after {
  content: "Beta";
  color: #586C7A;
  position: relative;
  font-size: 10px;
  float: right;
  top: 15px;
  right: 10px;
}

.toolbarLink {
  color: inherit;
  text-decoration: none;
}

.toolbarMenu {
  display: inline-flex;
  margin-left: auto;
}

.toolbarMenuItem {
  margin-right: 1rem;
  text-decoration: none;
}

@media (max-width: 600px) {
  .toolbarTitle {
    display: none !important;
  }
}