
.primary {
  background-color: #2F3545 !important;
}

.secondary {
  background-color: #14171F !important;
}

.console {
  background-color: #222733 !important;
}

.icon {
  color: #586C7A !important;
}

.icon:active {
  color: #8395a1 !important;
}

.icon:hover {
  color: #ad0030 !important;
}